body {
  color: #444;
  font-size: 18px;
  line-height:1.6;
  margin: 40px auto;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

h1 {
  text-align: center;
}

.tradespace__message-wrapper, 
.tradespace__listing-wrapper{
  border: 1px solid black;
  height: 100%;
  overflow: scroll;
}

.tradespace__listing-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.list-item__listing {
  border: 1px solid;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 10px;
  width: 45%;
}

.list-item__listing > img {
  width: 100%;
}

.tradespace__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.tradespace__message-wrapper {
  display: flex;
  height: fit-content;
  width: 40%;
}

.list-item__user {
  max-width: fit-content;
}

.tradespace__list {
  padding: 10px;
  width: 25%;
}

.tradespace__messages {
  border-left: 1px solid gray;
  width: 75%;
}

.tradespace__messages > input {
  width: 100%;
}

.tradespace__messages-inner {
  height: 640px;
  padding: 10px;
}

.tradespace__listing-wrapper {
  width: 55%;
}