body {
  color: #444;
  font-size: 18px;
  line-height:1.6;
  margin: 40px auto;
  overflow: hidden;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__primary-items {
  display: inline-flex;
  list-style: none;
}

.nav__item {
  min-height: 52px;
  min-width: 80px;
}

.tradespace__message-wrapper, 
.tradespace__listing-wrapper{
  height: 100%;
  overflow: scroll;
}

.list-item__listing {
  border: 1px solid;
  height: fit-content;
  margin-bottom: 15px;
  margin: 10px 15px;
  padding: 10px;
  max-width: 540px;
}

.list-item__listing > img {
  width: 100%;
}

.tradespace__wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.tradespace__message-wrapper {
  border: 1px solid gray;
  display: flex;
  height: fit-content;
  margin: 10px 15px;
  max-width: 500px;
}

.list-item__user {
  max-width: fit-content;
}

.tradespace__message-list {
  padding: 10px;
  width: 25%;
}

.tradespace__messages {
  border-left: 1px solid gray;
  width: 400px;
}

.tradespace__messages > input {
  width: 100%;
}

.tradespace__messages-inner {
  height: 640px;
  padding: 10px;
}

.tradespace__message-header {
  border-bottom: 1px solid;
}