body {
  color: #444;
  font-size: 18px;
  line-height:1.6;
  overflow: hidden;
  padding: 0 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.2
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__primary-items {
  display: inline-flex;
  list-style: none;
}

.nav__item {
  min-height: 52px;
  min-width: 80px;
}

.list-item__listing, 
.tradespace__message-wrapper, 
.tradespace__user-profile {
  background: #ffffff;
}


.tradespace__message-wrapper, 
.tradespace__listing-wrapper {
  height: 100%;
  overflow: scroll;
}

.list-item__listing,
.tradespace__message-wrapper, 
.tradespace__messages, 
.tradespace__user-profile {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.list-item__listing {
  height: fit-content;
  margin: 10px 15px;
  margin-bottom: 15px;
  max-width: 540px;
  padding: 10px;
}

.list-item__listing-info.hidden {
  display: none;
}

.list-item__listing-info--edit {
  display: none;
}

.list-item__listing-info--edit > .listing-edit > textarea {
  min-height: 100px;
  width: 100%;
}

.list-item__listing-info--edit.visible {
  display: block;
}

.list-item__listing > img {
  width: 100%;
}

.tradespace__wrapper {
  background: #f3f2ef;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.tradespace__user-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 10px;
  width: 225px;
}

.tradespace__message-wrapper {
  display: flex;
  height: fit-content;
  margin: 10px 15px;
  max-width: 500px;
}

.list-item__user {
  max-width: fit-content;
}

.tradespace__message-list {
  padding: 10px;
  width: 25%;
}

.tradespace__messages {
  width: 400px;
}

.tradespace__messages > input {
  width: 100%;
}

.tradespace__messages-inner {
  height: 640px;
  padding: 10px;
}

.tradespace__message-header {
  border-bottom: 1px solid;
}